{% extends 'base.html' %}

{% block title %}Главная BEACH STARS{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4 fw-bold">Турниры по волейболу</h1>
    <p class="lead">Следите за расписанием и результатами в реальном времени</p>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th class="ps-4">№</th>
                    <th>Название турнира</th>
                    <th>Дата</th>
                    <th class="pe-4">Категории</th>
                </tr>
            </thead>
            <tbody>
                {% for turnir in turnirs %}
                <tr style="cursor: pointer;" onclick="window.location='{% url 'tournament_detail' turnir.id %}';">
                    <td class="ps-4">{{ forloop.counter }}</td>
                    <td><a href="{% url 'tournament_detail' turnir.id %}" class="text-decoration-none fw-bold text-dark">{{ turnir.name }}</a></td>
                    <td>{{ turnir.date|date:"d.m.Y" }}</td>
                    <td class="pe-4"><span class="badge bg-primary-subtle text-primary border border-primary-subtle">
    {{turnir.get_age_category_display}} {{turnir.allowed_gender}}
</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}